name: pre-commit

on:
  pull_request:
    branches: [main]

jobs:
  pre-commit:
    runs-on: [self-hosted]
    steps:
      - uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref }}
      - uses: actions/setup-python@v5.4.0
        with:
          python-version: "3.10"
      - name: Run pre-commit on PR
        uses: pre-commit/action@v3.0.1
        with:
          extra_args: --from-ref=origin/${{ github.base_ref }} --to-ref=HEAD
